.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}

.form {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.title{
  all: unset;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  font-size: 1.2rem;
}

/* main -> focus 상태시 title 추가 */


.savebtn{
  all:unset;
  cursor:pointer;
  font-size: 1rem;
  color:#202020; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  transition: all .2s ease;
}

.savebtn:hover{
  color:#aaaaaa;
  background-color:#202020;
}


.line {
  display: flex;
  width: 100%;
}

.line input,
.line select,
.savebtn{
  flex: 1 1 0;
}
.savebtn{
  height: 1.5rem;
}
.description,
.description:focus{
  width: 100%;
  resize: none;
  outline: none;
  border:none;
}

.input:focus,
.input
{
  outline: none;
  border: .5px solid grey;
}

.main:focus-within .title,
.title:focus-within{
  color:black;
}
